/*
 * jQuery FlexSlider v1.5
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
/* Line added to Foursquare.css */
/*.flexslider .slides img {max-width: 100%; min-height: 32%;}*/

/* Browser Resets */
.flexslider a {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load
 */
.no-js .slides li:first-child {display: block;}

/* Caption style added to Foursquare.css */
/*.flex-caption, .flexslider-content {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 5px; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}*/

/* Direction Nav */
.flex-direction-nav li a {width: 52px; height: 52px; margin: -30px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.flex-direction-nav li a.next {background-position: -52px 0; right: -30px; text-indent: -9999px;}
.flex-direction-nav li a.prev {background-position: 0 0; left: -30px;}

/* Control Nav */
.flex-control-nav {width: 100%; margin-top: 10px; text-align: center; clear: both;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}